.btn-bg {
  background: linear-gradient(
    97deg,
    #b16cea -0.46%,
    #ff5e69 39.4%,
    #ff8a56 74.12%,
    #ffa84b 110.12%
  );
}

.btn-border {
  border: 3px solid;
  border-color: linear-gradient(
    180deg,
    #b16cea 14%,
    #ff5e69 45%,
    #ff8a56 72%,
    #ffa84b 100%
  );
}

.hero {
  background: url("/hero-bg.png") no-repeat;
  background-size: cover;
  background-color: #fff !important;
  height: 100%;
  width: 100%;
}

.text-grad {
  background: linear-gradient(
    90deg,
    #ff5e69 -7.4%,
    #ff8a56 11.74%,
    #ffa84b 25.66%,
    #b16cea 43.34%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-family: "BC Arabic"; */
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
}

.text-color-grad {
  background: var(
    --liner,
    linear-gradient(180deg, #b16cea 14%, #ff5e69 45%, #ff8a56 72%, #ffa84b 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.logo-slider {
  background: #fff;
  color: #000;
  overflow: hidden;
  width: 100%;
  position: relative;
  rotate: -3deg;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.brands-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-item {
  display: inline-flex; /* Ensure items are side by side */
  align-items: center;
  margin-right: 50px; /* Space between brand-item sets */
  white-space: nowrap; /* Prevent text wrapping */
}
.brand-name {
  width: 100%;
  font-family: "Poppins";
  font-size: 48px;
  font-weight: bold;
  line-height: 150%;
  margin-left: 15px;
}

.brand-logo {
  width: 34px;
  height: 34px;
}

.separated-text {
  letter-spacing: 0.1em; /* Adjust spacing as needed */
}

.card-border {
  border-radius: 12px;
  border: 1px solid var(--Grey-15, #262626);
}

.test {
  align-self: stretch;
}

.background-feature-container {
  border-radius: 12px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-08, #141414);
  box-shadow: 0px 0px 0px 8px #191919;
}
.contact {
  display: flex;
  width: 832px;
  height: 86px;
  padding: 14px;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  border: 1px solid var(--Gray-200, #e4e7ec);
  backdrop-filter: blur(7.5px);
}

.contact-email-icon {
  display: flex;
  width: 80px;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: var(--Orange-100, #ffead5);
}
.contact-send-btn {
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: linear-gradient(
    103deg,
    #b16cea 23.45%,
    #ff5e69 51.04%,
    #ff8a56 75.08%,
    #ffa84b 100%
  );
}

.footer-conatact-box {
  display: flex;
  width: 305px;
  padding: 14px 20px;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-08, #141414);
}
